﻿body{
    background-color: #000731; 
    color: #fff; 
    font-family: Arial, sans-serif;
}


.panel {
    background-color: #bbbebf; 
    border: 1px solid #2980b9; 
    padding: 10px;
    margin: 0 auto; 
    width: 50%; 
    border-radius: 5px;
}


.button {
    background-color: #0074d9; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.success-message {
    color: #008000; 
    font-weight: bold;
}

.button {
    background-color: #0074d9; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.button:hover {
    background-color: #0056a7; 
}
